@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@CustomIcons.DentalBlue" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 250 250" Style="width: 250px; height: 250px;" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h4">@_localizer["Title"] v2.2</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">@_localizer["Description"]</MudText>
        </MudItem>
       
        
      @*  <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://codewithmukesh.com/blazorhero" Target="_blank">@_localizer["Project Page"]</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="https://www.buymeacoffee.com/codewithmukesh" Target="_blank">@_localizer["Support Me"]</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Surface" Link="https://blazorhero.github.io/docs/" Target="_blank">@_localizer["Documentation - Coming Soon"]</MudButton>
            </div>
        </MudItem>*@

        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>

@code {

}
